<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Zuri Maison - Pili Pili Boutique</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='lib/animate/animate.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='lib/flaticon/font/flaticon.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}">

        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

        <!-- Template Stylesheet -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" id="logo" href="#">
                    <img src="{{url_for('static',filename = 'img/zuri_pix/zuri_logo_white.png')}}" alt="" width="60" height="50">
                </a>
                <a href="{{url_for('page.index')}}" class="navbar-brand">Zuri <span>Maison</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{{url_for('page.index')}}" class="nav-item nav-link active">Home</a>
                        <a href="{{url_for('page.about')}}" class="nav-item nav-link">About</a>
                        <a href="{{url_for('page.product')}}" class="nav-item nav-link">Products</a>
                        <a href="{{url_for('page.client')}}" class="nav-item nav-link">Clients</a>
                        <a href="{{url_for('page.contact')}}" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        {% block content%}
        {% endblock%}
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Our Address</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>Klein Windhoek, Windhoek</p>
                                    <p><i class="fa fa-phone-alt"></i>+264 81 634 3413</p>
                                    <p><i class="fa fa-envelope"></i>info@zurimaison.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Quick Links</h2>
                                    <a href="">Terms of use</a>
                                    <a href="">Privacy policy</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2><img src="{{url_for('static',filename = 'img/zuri_pix/zuri_logo.png')}}" alt="" width="60" height="50"></h2>
                            <p>
                                We specialize in chilli sauces, currently producing two flavours of chillies Mild and Hot, both of which have been welcomed by the public for their unique taste and presentation.
                            </p>
                            <!-- <div class="form">
                                <input class="form-control" placeholder="Email goes here">
                                <button class="btn custom-btn">Submit</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; <a href="#">2021 Zurri Investment CC</a>, All Right Reserved.</p>
                    <p>Designed By Zuri Maison</a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{url_for('static', filename='lib/easing/easing.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/tempusdominus/js/moment.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>
        <!-- <script src="lib/easing/easing.min.js"></script> -->
        <!-- <script src="lib/owlcarousel/owl.carousel.min.js"></script> -->
        <!-- <script src="lib/tempusdominus/js/moment.min.js"></script> -->
        <!-- <script src="lib/tempusdominus/js/moment-timezone.min.js"></script> -->
        <!-- <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script> -->
        
        <!-- Contact Javascript File -->
        <script src="{{url_for('static', filename='mail/jqBootstrapValidation.min.js')}}"></script>
        <script src="{{url_for('static', filename='mail/contact.js')}}"></script>
        <!-- <script src="mail/jqBootstrapValidation.min.js"></script> -->
        <!-- <script src="mail/contact.js"></script> -->
        

        <!-- Template Javascript -->
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
        <!-- <script src="js/main.js"></script> -->
    </body>
</html>
