{% extends "base.html" %}
{% block content %}
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Our Clients</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Clients</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        

        <!-- Booking Start -->
        <div class="booking">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="booking-content">
                            <div class="section-header">
                                <!-- <p>Book A Table</p> -->
                                <h4>Our Current Client Base includes</h4><hr>
                            </div>
                            <div class="about-text">
                                <ul>
                                  <li >City Produce</li>
                                  <li >Naturel Market Place</li>
                                  <li >Independent sellers</li>
                                  <li >Zero Waste</li>
                                  <li >Westlane Spar</li>
                                  <li >City Produce</li>
                                </ul>
                                <div class="section-header">
                                <!-- <p>Book A Table</p> -->
                                    <h4>Our Future Plans</h4><hr>
                                </div>
                                <div class="about-text">
                                    <ul>
                                      <li >We plan to launch our products in other local retailers as well hold exhibition days to familiarize potential customers with our product.</li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Booking End -->
{% endblock %}