{% extends "base.html" %}
{% block content %}

        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{{url_for('static',filename = 'img/zuri_pix/choice5.jpg')}}" alt='Image'>
                            
                        </div>
                        <div class="carousel-text">
                            <h1>We specialize <span>in</span> Chilli sauce</h1>
                            <p>
                                Our chilli sauces contain no artificial preservatives as the product’s freshness is conserved 
                            </p>
                            <div class="carousel-btn">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{{url_for('static',filename = 'img/zuri_pix/choice12.jpg')}}" alt='Image'>
                        </div>
                        <div class="carousel-text">
                            <h1>World’s <span>Best</span> Chilli</h1>
                            <p>
                                We manufacture and sell chilli sauce. All processes of ingredient, packaging and disribution are carried out internaly by distinguished team.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="booking">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="booking-content">
                            <div class="section-header">
                                <!-- <p>Book A Table</p> -->
                                <h4>Our Current Client Base includes</h4><hr>
                            </div>
                            <div class="about-text">
                                <ul>
                                  <li >City Produce</li>
                                  <li >Naturel Market Place</li>
                                  <li >Independent sellers</li>
                                  <li >Zero Waste</li>
                                  <li >Westlane Spar</li>
                                  <li >City Produce</li>
                                </ul>
                                <div class="section-header">
                                <!-- <p>Book A Table</p> -->
                                    <h4>Our Future Plans</h4><hr>
                                </div>
                                <div class="about-text">
                                    <ul>
                                      <li >We plan to launch our products in other local retailers as well hold exhibition days to familiarize potential customers with our product.</li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Booking End -->
        

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <!-- <img src="img/zuri_pix/choice3.jpg" alt="Image"> -->
                            <img src="{{url_for('static',filename = 'img/zuri_pix/choice3.jpg')}}" alt="" width="60" height="450">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-header">
                                <p>About Us</p>
                                <h3>About Zurri Investment CC</h3>
                            </div>
                            <div class="about-text">
                                <p>
                                    Zurri Investment CC is a company registered under the Namibian Legislation, owned by Nyota Bitenyo Karume and Justin Karume. We are a company dedicated to the food industry, with our current focus being Chilli sauce manufacture and retail.
                                </p>
                                <p>
                                    We strive to provide organic chilli sauce, becoming an industry leader by providing memorable flavours of Africa through our product. We are based in the Klein Windhoek, Windhoek and can supply retailers in surrounding areas such as Rehoboth and Okahandja.
                                </p>
                                <!-- <a class="btn custom-btn" href="">Book A Table</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        <!-- Feature Start -->
        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section-header">
                            <p>Why Choose Us</p>
                            <h2>Our Products</h2>
                        </div>
                        <div class="feature-text">
                            <div class="feature-img">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="{{url_for('static',filename = 'img/zuri_pix/choice20.jpg')}}" >
                                        
                                    </div>
                                    <div class="col-6">
                                        <img src="{{url_for('static',filename = 'img/zuri_pix/choice19.jpg')}}" alt='Image' height="317">
                                       
                                    </div>
                                </div>
                            </div>
                            <p>
                                We specialize in chilli sauces, currently producing two flavours of chillies Mild and Hot, both of which have been welcomed by the public for their unique taste and presentation.
                                The ingredients involved in the creation of our sauce are meticulously selected ensuring high quality organic chilli sauce is produced.
                                Zuri Pilipili is 100% organic.
                                It contains no artificial preservatives as the product’s freshness is conserved through natural elements.<hr>
                            </p>
                            <!-- <a class="btn custom-btn" href="">Book A Table</a> -->
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-vegetable"></i>
                                    <h3>Phase 1</h3>
                                    <p>
                                        The chillies are freshly hand picked and 100% organic and plant-based.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-cooking"></i>                                
                                    <h3>Phase 2</h3>
                                    <p>
                                        Chillies are ground into soft paste, other ingredients are also added.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-fruits-and-vegetables"></i>
                                    <h3>Phase 3</h3>
                                    <p>
                                        Chillies are boiled in a pot for a certain period of time.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-medal"></i>
                                    <h3>Phase 4</h3>
                                    <p>
                                        Chilli sauce is then packed into sterilized bottles.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-courier"></i>
                                    <h3>Phase 5</h3>
                                    <p>
                                        The bottles are firmly sealed, labelled and ready to be packed into boxes.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-meat"></i>
                                    <h3>Phase 6</h3>
                                    <p>
                                        Finished chilli Sauce can now be enjoyed...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
        <!-- Feature End -->
        
        
        <!-- Food Start -->
        
        <!-- Food End -->
        
        
        <!-- Menu Start -->
        
        <!-- Menu End -->
        
        
        <!-- Team Start -->
        
        <!-- Team End -->
        
        
        <!-- Testimonial Start -->
        
        <!-- Testimonial End -->
        
        
        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="section-header text-center">
                    <p>Contact Us</p>
                    <h2>Contact For Any Query</h2>
                </div>
                <div class="row align-items-center contact-information">
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-map-marker-alt"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Address</h3>
                                <p>Klein Windhoek, Windhoek</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Call Us</h3>
                                <p>+264 81 634 3413</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Email Us</h3>
                                <p>info@zurimaison.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-share"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Follow Us</h3>
                                <div class="contact-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row contact-form">
                    <div class="col-md-6">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe width="482" height="378" id="gmap_canvas" src="https://maps.google.com/maps?q=Klein%20Windhoek,%20Windhoek,%20Namibia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                </iframe>
                                <a href="https://123movies-to.org"></a><br>
                                <style>.mapouter{position:relative;text-align:right;height:378px;width:482px;}
                            </style>
                            <a href="https://www.embedgooglemap.net">adding a google map to your website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:378px;width:482px;}
                            </style>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="success"></div>
                        <form action="{{url_for('page.contact')}}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="control-group">
                                {% if message %}
                                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                                        {{message}}
                                     </div>
                                {% endif %}
                                
                                <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" name="name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" name="email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" name="subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Message" required="required" name="message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn custom-btn" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Blog Start -->
        
        <!-- Blog End -->
{% endblock %}